<h2 class="page-header">Edit Event</h2>
<form action ="/events/<%= event.id %>?_method=PUT" method="POST">
<%- include('form_fields') %>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/events">Cancel</a>
<button class="btn btn-primary" type="submit">Update</button>
</div>

</form>