<h2 class="page-header">Edit Location</h2>
<form action="/locations/<%= location.id %>?_method=PUT" method="POST">
  <%- include('form_fields') %>
  <a href="/locations/<%= location.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>