<h2>Search Location</h2>
<form action="/locations" method="GET">
    <label>Name</label>
    <input type="text" placeholder="Enter City Name" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>

</form>

<br>
<% locations.forEach(location =>{
    %>
    <div><%= location.name %></div>
    <%
}) %>