<header>
    <nav>
        <a href='/'>BookMyShow</a>
        <ul>
            <li>
                <a href="/locations">Location</a>
            </li>
            <li>
                <a href="/locations/new">Add Location</a>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
            <li>
                <a href="/events/new">Add Events</a>
            </li>
        </ul>
    </nav>
</header>