<!--
<header style="margin-top: 0px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 0px;" >
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations">Location</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/locations/new">Add Location</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/events/new">Add Event</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

-->
    <header>
        <nav class="header-nav">
          <a class="header-title" href="/">BookMyShow</a>
          <ul>
            <li class="header-link"><a href="/">Home</a></li>
            <li class="header-link"><a href="/">About us</a></li>
            <li class="header-link"><a href="/events">Events</a></li>
            <li class="header-link"><a href="/locations">Locations</a></li>
            <li class="header-link"><a href="/locations/new">Add Location</a></li>
            <li class="header-link"><a href="/events/new">Add Event</a></li>
          </ul>
        </nav>
      </header>




