
<h2 class="page-header"> Recently Added</h2>
<div>
    <%- include('partials/bookgrid',{events:events, large:true}) %>
</div>

<h2 class="page-header">All events</h2>
<div>
    <%- include('partials/bookgrid',{events:events, large:true}) %>
</div>


