:root{
    --event-cover-width:200px;
    --event-cover-width-large:250px;
    --event-cover-aspect-ratio:0.75;
}

.event-cover{
    width:var(--event-cover-width);
    height:calc(var(--event-cover-width)/var(--event-cover-aspect-ratio));
}

.event-cover-large{
    --event-cover-width: var(--event-cover-width-large);
}
.event-grid{
    display:grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill,var(--event-cover-width));
}

.event-grid-large{
    grid-template-columns: repeat(auto-fill,var(--event-cover-width-large));

}
.event-details{
    display:flex;
}

.event-details-label{
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.event-details-grid{
    display:grid;
    align-content: flex-start;
    align-items: center;
    grid-gap:1rem;
    grid-template-columns: auto auto;
    margin-left: 20px;

}

.event-details-btn-grid{
    display:grid;
    justify-items: flex-start;
    align-items:flex-start;
    align-content: flex-start;
    grid-template-areas: 
    "edit delete"
    "location location";
    grid-gap: .5rem;
    margin-top: .5rem;
}

.event-details-location-button{
    grid-area: location;
    justify-self: stretch;
}